<request_parameters>
  <project_type label="{{ project_type.label }}" value="{{ project_type.value }}" />
  <detail_level hint="{{ detail_level.hint }}" />
  <output_format hint="{{ output_format.hint }}" />
</request_parameters>

<project_description>
{{ description }}
</project_description>
